<div class="container-men">
    <div class="container">
      <form>
        <h4>Login do  sistema</h4>
        <div class="mb-3">
          <label for="login" class="form-label">Login</label>
          <input type="email" class="form-control" id="login" [(ngModel)]="usuario.login" name="login" aria-describedby="emailHelp">
          <div *ngIf="usuario.login.length< 3"  class="alert-danger">
            Login deve ser informado
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input  type="password"  class="form-control" id="senha" name="senha" [(ngModel)]="usuario.senha">
          <div  *ngIf="usuario.senha.length < 3"  class="alert-danger">
            senha deve ser informado  
          </div>
        </div>
        <button type="submit"  class="btn btn-primary"   [disabled]="usuario.login.length<3 || usuario.senha.length< 3" (click)="login()">Login</button>
      </form>
    </div>  
</div> 
